/* black */

:root {
--black0: #000000;
--black1: #222222;
--black2: #404040;
--black3: #5e5e5e;
--black4: #7e7e7e;
--black5: #999999;
--black6: #b2b2b2;
--black7: #cccccc;
--black8: #e5e5e5;
--black9: #fafafa;
}