/* doq */

:root {
--black0: #160504;
--black1: #271f1f;
--black2: #423c3c;
--black3: #5f5959;
--black4: #7f7979;
--black5: #9d9797;
--black6: #c1bcbc;
--black7: #e0dddd;
--black8: #f2efef;
--black9: #fbf9f8;
}