/* fuligin */

:root {
--black0: #080811;
--black1: #262637;
--black2: #474759;
--black3: #676779;
--black4: #9292a0;
--black5: #adadb7;
--black6: #ceced4;
--black7: #e1e1e5;
--black8: #f0f0f2;
--black9: #f8f8f9;
}