/* hat */

:root {
--black0: #1e2327;
--black1: #282e33;
--black2: #3b4148;
--black3: #50575f;
--black4: #666f79;
--black5: #848c95;
--black6: #a7adb2;
--black7: #d3d5d8;
--black8: #edeef0;
--black9: #f9f9fa;
}