/* material */

:root {
--black0: #212121;
--black1: #424242;
--black2: #616161;
--black3: #757575;
--black4: #9E9E9E;
--black5: #BDBDBD;
--black6: #E0E0E0;
--black7: #EEEEEE;
--black8: #F5F5F5;
--black9: #FAFAFA;
}