/* palx */

:root {
--black0: #374047;
--black1: #5f6e78;
--black2: #7f8a93;
--black3: #97a1a7;
--black4: #acb4b9;
--black5: #bec4c8;
--black6: #cfd3d6;
--black7: #dee1e3;
--black8: #ebedee;
--black9: #f8f9f9;
}