<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <title>50 Shades of Black</title>
    <meta name="author" content="broccolini">
    <meta name="description" content="An exploration of black color palettes. Download as CSS or SCSS.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" href="site.css">
  </head>
  <body>

    <header class="px3 pt3">
      <h1 class="white">50 shades of black</h1>
      <p>An exploration of black color palettes.</p>
    </header>

    <section class="p3">

      <div class="flex flex-wrap mxn2">
        <% Object.keys(palettes).forEach(function (key) { %>
         <div class="col-12 sm-col-6 md-col-4 p2">
           <h2 class="capitalize"><%= key %></h2>
           <% palettes[key].forEach(function (hex, i) { %>
             <div class="p2" style="color: <%= getTextColor(hex, key) %>; background-color:#<%= hex %>">
               <code class="code">#<%= hex %></code>
             </div>
           <% }) %>
         </div>
        <% }) %>
      </div>

    </section>

    <footer class="p3">
      <p class="mb1"><a href="https://github.com/broccolini/50shadesofblk">View on GitHub</a></p>
      <p>Made for fun by <a href="http://broccolini.net">@broccolini</a></p>
    </footer>

</body>
