/*
- Default
- Material
- Munsell
- Crayola
- 4 bit, 16 bit
- Pantone
- CMYK?
- Adobe
- Fuligin: "the color that is darker than black": https://en.wikipedia.org/wiki/List_of_fictional_colors
- Hat black: blue-black
- Kalish: Klingon, for almost black (purple-black)
- Doq-black: http://www.klingonwiki.net/En/Colors
- Palx: https://palx.jxnblk.com/
- Vantablack: https://en.wikipedia.org/wiki/Vantablack

*/

:root {
--black0:  #000000;
--black1:  #222222;
--black2:  #404040;
--black3:  #5e5e5e;
--black4:  #7e7e7e;
--black5:  #999999;
--black6:  #b2b2b2;
--black7:  #cccccc;
--black8:  #e5e5e5;
--black9:  #fafafa;
}

.material {
--black0:  #212121;
--black1:  #424242;
--black2:  #616161;
--black3:  #757575;
--black4:  #9E9E9E;
--black5:  #BDBDBD;
--black6:  #E0E0E0;
--black7:  #EEEEEE;
--black8:  #F5F5F5;
--black9:  #FAFAFA;
}

.munsell {
--black0:  #1c1c1c;
--black1:  #303030;
--black2:  #464646;
--black3:  #616161;
--black4:  #7c7c7c;
--black5:  #969696;
--black6:  #b3b3b3;
--black7:  #cbcbcb;
--black8:  #e8e8e8;
--black9:  #fafafa;
}

.doq {
--black0:  #160504;
--black1:  #271f1f;
--black2:  #423c3c;
--black3:  #5f5959;
--black4:  #7f7979;
--black5:  #9d9797;
--black6:  #c1bcbc;
--black7:  #e0dddd;
--black8:  #f2efef;
--black9:  #fbf9f8;
}

.kalish {
--black0:  #17151c;
--black1:  #26242c;
--black2:  #3c3943;
--black3:  #4e4b57;
--black4:  #64606d;
--black5:  #85818e;
--black6:  #a09da9;
--black7:  #c8c5ce;
--black8:  #e3e2e7;
--black9:  #f9f9fa;
}

.vantablack {
--vantablack0:  #0b0c0e;
--vantablack1:  #16181d;
--vantablack2:  #24272d;
--vantablack3:  #363a43;
--vantablack4:  #484e59;
--vantablack5:  #5d636e;
--vantablack6:  #818792;
--vantablack7:  #a3a7af;
--vantablack8:  #c7cacf;
--vantablack9:  #ecedef;
}
